// company details nest

section.contact-grid {
    @include grid(1fr, 400px auto auto, $s, $s);
    margin: 0 $s;
    @include tablet {
        @include grid(repeat(2, 1fr), 300px auto, $s, $s);
    }
        div.office-img {
            @include img-bg(url(../../../img/stockphotos/workshop.jpg));
            @include position();
            text-align: center;
            @include tablet {
                grid-row: 1/2;
                grid-column: 1/2;
            }
                div {
                    @include flex(column, center, center);
                    @include position(absolute);
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0, 0.6);
                        h2 {
                            color: $light-text;
                        }
                        p {
                            color: $light-text;
                        }
                }
        }
        div.phone {
            @include flex(column, center, center);
            padding: calc($ml - $s) 0 $ml 0;
            background-color: $very-light-green;
            @include tablet {
                grid-row: 1/2;
                grid-column: 2/3;
            }
        }
        div.form {
            @include flex(column, center, center);
            margin: $ml $s;
            @include tablet {
                grid-row: 2/3;
                grid-column: 1/3;
            }
            h2 {
                margin: 0;
            }
                form {
                    min-width: 100%;
                        div {
                            @include flex(column, center, center);
                                label {
                                    margin: $m 0 $xs 0;
                                }
                                input:not(input[type="submit"]), select, textarea {
                                    box-sizing: border-box;
                                    padding: $xs;
                                    width: 90%;
                                    @include tablet {
                                        width: 60%;
                                    }
                                    @include laptop {
                                        width: 50%;
                                    }
                                }
                        }
                }
        }
}